.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8rem;
}
.about-title{
    position: relative;
}
.about-title h1{
    padding: 0 3rem;
    font-size: 8rem;
    font-weight: 600;
}
.about-title img{
    position: absolute;
    right: .5rem;
    top: 3rem;
    bottom: 0;
    z-index: -1;
}
.about-sections{
    display: flex;
    gap: 8rem;
}
.grid-two-cols {
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.about-img img{
    width: 80%;
}
.about-right{
    display: flex;
    flex-direction: column;
    gap: 8rem;
}
.about-para{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 2.4rem;
    font-weight: 500;
}
.about-skills{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 10rem;
}
.about-skill{
    display: flex;
    gap: 5rem;
    align-items: center;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.about-skill p{
    min-width: 15rem;
    font-size: 2.4rem;
    font-weight: 500;
}
.about-skill hr{
    outline: none;
    border: none;
    width: 5rem;
    height: .8rem;
    border-radius: 5rem;
    background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28% );
    -webkit-border-radius: 5rem;
    -moz-border-radius: 5rem;
    -ms-border-radius: 5rem;
    -o-border-radius: 5rem;
}
.about-skill:hover{
    transform: scale(1.05);
    transition: 0.3s;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}
.about-achievements{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 8rem;
}

.about-achievement{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    transition: 0.5s;
}
.about-achievement h1{
    font-size: 6rem;
    font-weight: 700;background: linear-gradient(270deg, #DF8908 50.41%, #B415FF 90.25%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.about-achievement p{
    font-size: 2.2rem;
    font-weight: 500;
}
.about-achievement:hover{
    transform: scale(1.12);
    transition: 0.5s;
    -webkit-transform: scale(1.12);
    -moz-transform: scale(1.12);
    -ms-transform: scale(1.12);
    -o-transform: scale(1.12);
}


/* responsive code */




@media (max-width: 1400px) {
    /* Extra large screens (big desktops / 4K) */
    html {
        font-size: 56.25%;
    }
}

@media (max-width: 1350px) {

 html {
        font-size: 50%;
    }

}

@media (max-width: 1270px) {
}

@media (max-width: 1200px) {

    /* Large screens (desktops / laptops) */
    html {
        font-size: 50%;
    }

}


@media (max-width: 1150px) {
   html {
        font-size: 45%;
    }
}

@media (max-width: 992px) {

    /* Medium screens (tablets / small laptops) */
    html {
        font-size: 43%;
    }

    .grid-two-cols {
        grid-template-columns: 1fr;
    }

    .about-img img {
        width: 30%;
    }

    .about-para {
        margin-top: 5rem;
    }

}

@media(max-width : 768px){
    
     html {
        font-size: 55%;
    }
    .about{
        gap: 8rem;
        margin: 5rem 7rem;
        align-items: start;
    }
    .container {
    margin: 5rem 10rem;
    padding: 5rem 2rem;
}
    .about-title h1{
        font-size: 5rem;
        padding: 0;
    }
    .about-title img{
        width: 16rem;
        right: -3.5rem;
        top:    1.8rem;
    }
    .about-img img{
        display: none;
    }
    .about-para{
        font-size: 1.8rem;
        line-height: 3rem;
    }
    .about-skills{
        margin-top: 5rem;
    }
    .about-skill{
        gap: 1.5rem;
        align-items: center;
    }
    .about-skill p{
        font-size: 2rem;
    }
    .about-skill hr{
        height: .6rem;
    }
    .about-achievements{
        justify-content: space-between;
    }
    .about-achievement{
        gap: 1rem;
    }
    .about-achievement h1{
        font-size: 3.4rem;
        font-weight: 700 ;
    }
    .about-achievement p{
        text-align: center;
        font-size: 1.6rem;
    }
}


@media (max-width: 576px) {
    /* Extra small screens (phones) */
}

