.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
}
.contact-title{
    position: relative;
}
.contact-title h1{
    padding: 0 3rem;
    font-size: 8rem;
    font-weight: 600;
}
.contact-title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.contact-section{
    display: flex;
    gap: 10rem;
}
.contact-left{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.contact-left h1{
    font-size: 8rem;
    font-weight: 700;
    background: linear-gradient(270deg, #df8908 80%, #b415ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.contact-left p{
    /* max-width: 55rem; */
    color: #D8D8D8;
    font-size: 2rem;
    line-height: 3.5rem;
}
.contact-details{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    color: #D8D8D8;
    font-size: 2.2rem;
}
.contact-detail{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.contact-right{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2rem;
}
.contact-right label{
    color: #D8D8D8;
    font-size: 2.2rem;
    font-weight: 500;
}
.contact-right input{
    border: none;
    width: 60rem;
    height: 6.5rem;
    padding-left: 2rem;
    border-radius: .4rem;
    background: #32323c;
    color: #A0A0A0;
    font-family: Outfit;
    font-size: 2rem;
    -webkit-border-radius: .4rem;
    -moz-border-radius: .4rem;
    -ms-border-radius: .4rem;
    -o-border-radius: .4rem;
}
.contact-right textarea{
    width: 60rem;
    border: none;
    padding: 2.5rem;
    border-radius: .4rem;
    background: #32323c;
    color: #A0A0A0;
    font-family: Outfit;
    font-size: 2rem;
    -webkit-border-radius: .4rem;
    -moz-border-radius: .4rem;
    -ms-border-radius: .4rem;
    -o-border-radius: .4rem;
}
.contact-submit{
    border: none;
    color: white;
    border-radius: 5rem;
    background:linear-gradient(264deg, #df8908 -5.09%, #B415FF 106.28%);
    font-size: 2.2rem;
    padding: 1.5rem 4rem;
    margin-bottom: 5rem;
    cursor: pointer;
    transform: 0.3s;
    -webkit-border-radius: 5rem;
    -moz-border-radius: 5rem;
    -ms-border-radius: 5rem;
    -o-border-radius: 5rem;
}
.contact-submit:hover{
    transform: scale(1.1);
    transition: 0.3s;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

/* responsive code */




@media (max-width: 1400px) {
    /* Extra large screens (big desktops / 4K) */
    html {
        font-size: 56.25%;
    }
}

@media (max-width: 1350px) {

}

@media (max-width: 1270px) {
}

@media (max-width: 1200px) {

    /* Large screens (desktops / laptops) */
    html {
        font-size: 55%;
    }

}


@media (max-width: 1170px) {
html {
        font-size: 50%;
    }
}

@media (max-width: 1050px) {
html {
        font-size: 50%;
    }

    .contact-right input  {
        width: 50rem;
    } 
    .contact-right textarea  {
        width: 50rem;
    } 
}

@media (max-width: 992px) {

    /* Medium screens (tablets / small laptops) */
    html {
        font-size: 53%;
    }

    .contact-section{
        flex-direction: column;
    }

}



@media(max-width : 768px){
    .contact{
        gap: 5rem;
        margin: 6rem 7rem;
        align-items: start;
    }
    .contact-title h1{
        padding: 0;
        font-size: 5rem;
        font-weight: 600;
    }
    .contact-title img{
        width: 175px;
        margin-right: -2rem;
        margin-bottom: -.6rem;
    }
    .contact-section{
        flex-direction: column;
    }
    .contact-left{
        gap: 2rem;
    }
    .contact-left h1 {
        font-size: 5.4rem;
    }
    .contact-left p {
        font-size: 1.8rem;
    }
    .contact-detail {
        gap: 2rem;
    }
    .contact-detail img{
        width: 2.5rem;
    }
    .contact-right label{
        font-size: 2rem;
    }
    .contact-right input{
        width: 100%;
        font-size: 2rem;
    }
    .contact-right textarea{
        width: 95%;
        font-size: 2rem;
    }
    .contact-submit{
        font-size: 2rem;
        padding:15px 4rem;
    }
}


@media (max-width: 576px) {
    /* Extra small screens (phones) */
}