.footer{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.footer-top{
    display: flex;
    justify-content: space-between;
}
.footer-top-left h1 {
    position: relative;
    top: 6rem;
    left: 1rem;
    font-size: 4rem;
    font-weight: 600;
}
.footer-top-left img{
    z-index: -1;
}
.footer-top-left p{
    font-size: 1.8rem;
    /* max-width: 40rem; */
}
.footer-top-right{
    display: flex;
    align-items: center;
    gap: 3.5rem;
}
.footer-email-input{
    display: flex;
    gap: 3rem;
    padding: 2rem 2.5rem;
    border-radius: 5rem;
    background: #32323B;
    padding-right: 6rem;
    -webkit-border-radius: 5rem;
    -moz-border-radius: 5rem;
    -ms-border-radius: 5rem;
    -o-border-radius: 5rem;
}
.footer-email-input input{
    outline: none;
    border: none;
    background: transparent;
    color: #a0a0a0;
    font-family: outfit;
    font-size: 1.5rem;
}
.footer-subscribe{
    font-size: 2rem;
    padding: 2rem 4.5rem;
    border-radius: 5rem;
    background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28% );
    cursor: pointer;
    transition: 0.3s;
    -webkit-border-radius: 5rem;
    -moz-border-radius: 5rem;
    -ms-border-radius: 5rem;
    -o-border-radius: 5rem;
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    font-size: 1.8rem;
}
.footer-bottom-right{
    display: flex;
    gap: 5rem;
    margin-bottom: 3rem;
}
.footer-email-input:hover{
    border: 1px solid white;
}
.footer-subscribe:hover {
    transform: scale(1.1);
    transition: 0.3s;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

/* responsive code */



@media (max-width: 1400px) {
    /* Extra large screens (big desktops / 4K) */
    html {
        font-size: 56.25%;
    }
}

@media (max-width: 1350px) {

}

@media (max-width: 1270px) {
}

@media (max-width: 1200px) {

    /* Large screens (desktops / laptops) */
    html {
        font-size: 55%;
    }

}


@media (max-width: 1070px) {

}




@media(max-width : 992px){
     .footer{
        margin: 5rem 7rem;
     }    
     .footer-top{
        /* flex-direction: column; */
        /* gap: 4rem; */
     }
     .footer-top-left p{
        font-size: 1.8rem;
     }
     .footer-email-input{
        font-size: 2rem;
        padding:1.5rem 4rem;
     }
     .footer-subscribe{
        font-size: 2rem;
        padding:1.5rem 4rem;
     }
     .footer-bottom{
        display: flex;
        flex-direction: column;
        margin-bottom: 5rem;
     }
     .footer-bottom-right{
        justify-content: space-between;
        margin-top: 1rem;
     }
}

@media (max-width: 768px) {

    /* Medium screens (tablets / small laptops) */
    html {
        font-size: 53%;
    }

    

}

@media (max-width: 576px) {
    /* Extra small screens (phones) */
}


