*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body{
    height: 100vh;
    background: #161513;
    color: white;
    font-family: outfit;
}
.container {
    margin: 5rem 10rem;
    padding: 0rem 2rem;
}